body {
  font-family: "Mukta", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #343a40;
}

.container {
  width: 80% !important;
}

nav li:last-child a {
  background-color: #4f46e5;
}
nav li:last-child a:hover {
  background-color: #6366f1;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #6366f1;
}

section.hero {
  background-color: #f4f5f5;
}

.size {
  background: #f4f5f5;
}

.add-to-cart {
  border: 2px solid #4f46e5;
  color: #4f46e5;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #4f46e5;
  color: #ffffff;
}

.btn-primary {
  background: #4f46e5;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #6366f1;
}

section.cart {
  background: #f4f5f5;
}
section.cart .amount {
  color: #4f46e5;
}

section.login {
  background: #f4f5f5;
  min-height: calc(100vh - 86px);
}
